html, body {
    height: 100%;
    width: 100%;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
}

.form-container {
    position: relative;
    display: flex;
    flex-direction: column; 
    margin: 0 auto;
    width: 500px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    border: solid 1px black;
    padding: 20px;
}

.form-title{
    position: relative;
    width: 100%;
    font-size: 25px;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center !important;
    font-family: 'Nunito San', sans-serif;
}

.form-container label {
    display: block;
    margin-bottom: 10px;
    font-family: 'Nunito San', sans-serif;
}

.form-container input[type="text"]{
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    font-family: 'Nunito San', sans-serif;
    font-size: 16px;
}

.form-container .checkbox-list {
    width: 96.7%;
    height: 70px; /* Set a fixed height */
    overflow-y: auto; /* Enable vertical scrolling */
    border: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 20px;
    font-family: 'Nunito San', sans-serif;
}

.form-container .checkbox-list label {
    display: block;
    margin-bottom: 5px;
    font-family: 'Nunito San', sans-serif;
    cursor: pointer;
}

.form-container .checkbox-list input[type="checkbox"] {
    margin-right: 5px;
    font-family: 'Nunito San', sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.form-container select {
    width: 99%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: transparent;
    border: 1px solid #ccc;
    font-family: 'Nunito San', sans-serif;
    font-size: 16px;
}

.assign-roles-container {
    display: flex;
    align-items: center;
}

.assign-roles-container label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.assign-roles-container label input[type="checkbox"] {
    margin-left: 312px;
    margin-right: 5px;
    font-family: 'Nunito San', sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.form-container input[type="submit"] {
    background-color: #293a82;
    margin-right: 10px;
    color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Nunito San', sans-serif;
    cursor: pointer;
}

.form-container input[type="submit"]:hover {
    background-color: #E7AE41;
}

.form-container button.cancel-edit-button {
    background-color: red;
    color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Nunito San', sans-serif;
    cursor: pointer;
}

.form-container button.cancel-edit-button:hover {
    background-color: #E7AE41;
}

.form-container .form-buttons {
    display: flex;
    padding-right: 5px;
    justify-content: flex-end; /* Align buttons to the right */
    align-items: center; /* Center buttons vertically */
    gap: 10px; /* Add some space between buttons */
    margin-top: 20px; /* Add margin to separate buttons from other elements */
}
