.gauge-title{
    margin-top: 10px;
    margin-bottom: 5px;
    display: inline-flex;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
}
/* left most gauge groups */
.pm-ten-gauge-group{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 234px;
    height: 180px;
    border: 1px solid rgba(0,0,0,.175);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .175);
    border-radius: 5px;
}

.pm-two-five-gauge-group{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 234px;
    height: 180px;
    border: 1px solid rgba(0,0,0,.175);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .175);
    border-radius: 5px;
}

.pm-zero-one-gauge-group{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 234px;
    height: 180px;
    border: 1px solid rgba(0,0,0,.175);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .175);
    border-radius: 5px;
}

.gas-gauge-group{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 234px;
    height: 180px;
    border: 1px solid rgba(0,0,0,.175);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .175);
    border-radius: 5px;
}

.indoor-temp-gauge-group{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 234px;
    height: 180px;
    border: 1px solid rgba(0,0,0,.175);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .175);
    border-radius: 5px;
}

.outdoor-temp-gauge-group{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 234px;
    height: 180px;
    border: 1px solid rgba(0,0,0,.175);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .175);
    border-radius: 5px;
}

.humidity-gauge-group{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 234px;
    height: 180px;
    border: 1px solid rgba(0,0,0,.175);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .175);
    border-radius: 5px;
}

.gauge{
    scale: 1;
}