/* interface navigation menu */
.card-header-indicator{
    z-index: 1999;
    position: absolute;
    top: -2.5px;
    left: 71px;
    height: 5px;
    width: 220px;
    opacity: 1;
    background-color: #E7AE41;
    border-radius: 10px;
}

.content-one{
    opacity: 1;
    pointer-events: visible;
}

/* gas table style */
.air-quality-table{
    overflow: hidden;
    border-collapse: collapse;
    position: relative;
    left: 100px;
    width: 1690px;
    margin-top: 125px;
    text-align: left;
}