@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
body{
    overflow: auto;
    margin: auto;
    width: fit-content;
    font-family: 'Nunito', sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
    text-align: left;
}
html{
    height:100%;
    width: 100%;
    overflow: hidden;
}
.login-page{
    min-height: 482.333px;
    background-image: url('../images/apc-building.png');
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}
.d-flex{
    display: flex !important;
}
.justify-content-center{
    justify-content: center !important;
}
h3{
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 1.575rem;
    font-weight: 500;
    line-height: 1.2;
}
b{
    font-weight: bolder;
}
h5{
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
}

.logo{
    padding: 1rem !important;
}

#o365logo{
    margin-right: 0.25rem;
    vertical-align: middle;
}

.center .header{
    position: relative;
    width: 100%;
    font-size: 25px; 
    color: #000;
    padding: 0 0 10px 0;
    background: #E7AE41;
    border-bottom: 2px solid rgba(0,0,0,0.2);
    border-radius: 10px 10px 0 0;
    text-align: center;
    justify-content: center;
    box-shadow: 15px 5px 10px 5px rgba(0,0,0,0.1);
}

.center{
    top: 250px;
    align-items: center;
    width: 400px;
}

.center form{
    position: relative;
    background: #fff;
    width: 100%;
    padding: 30px 15px 0px 30px;
    box-sizing: border-box;
    border-radius: 0 0 5px 5px;
    box-shadow: 15px 16px 10px 5px rgba(0,0,0,0.1);
}

form input{
    height: 40px;
    width: 95%;
    padding: 0px 10px;
    border-radius: 5px;
    border: 1px solid #343A40;
    font-size: 0.9rem;
    outline: none;
}
form input:focus{
    border: 1px solid #E7AE41;
    -webkit-transition: 1s;
    transition: 1s;
}
form input[type="password"]{
    margin-top: 20px;
}
form i{
    position: absolute;
    font-size: 20px;
    color: #343A40;
}
i.fa-envelope{
    margin: 10px 0 0 -40px;
}
i.fa-eye{
    margin: 30px 0 0 -41px;
}
.fas{
    font-weight: 900;
}

.disabled-message{
    position: relative;
    left: 55px;
    width: fit-content;
    font-size: 1rem;
    font-family: 'Nunito Sans', 'sans-serif';
    text-align: center;
    bottom: 15px;
    color: #dd4c39;
}

.invalid-message{
    position: relative;
    left: 15px;
    width: fit-content;
    font-size: 1rem;
    font-family: 'Nunito Sans', 'sans-serif';
    text-align: center;
    bottom: 15px;
    color: #dd4c39;
}

.signin-button[type="submit"]{
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 226px;
    width: 110px;
    height: 35px;
    text-align: center;
    font-size:0.9rem;
    padding:0.375rem 0.75rem;
    color: white;
    cursor: pointer;
    border: 1px solid #007BFF;
    border-radius: 1px;
    line-height: 1;
    background: #293A82;
}

.signin-button:hover{
    background: #007BFF;
    transition: 0.5s;
}
