/* interface navigation menu */
.card-header-indicator-second{
    z-index: 1999;
    position: absolute;
    top: 29px;
    left: 300px;
    height: 5px;
    width: 250px;
    opacity: 1;
    background-color: #E7AE41;
    border-radius: 10px;
}

.content-one{
    opacity: 1;
    pointer-events: visible;
}

.aq-main-contents{
    display: flex;
    margin-top: 50px;
    margin-left: 20px;
    height: 100%;
}

/* left-gauge-box design */
.left-gauge-box{
    overflow: auto;
    margin-right: 25px;
    height: 85%;
    width: 450px;
    border: solid 2px #000;
}

.left-gauge-card{
    background-color: #E7AE41;
    height: 1000px;
    width: auto;
}

/* chart-box design */
.chart-box{
    overflow: auto;
    margin-right: 25px;
    height: 85%;
    width: 900px;
    border: solid 2px #000;
}

.chart-card{
    background-color: #E7AE41;
    height: 1000px;
    width: auto;
}

/* right-gauge-box design */
.right-gauge-box{
    overflow: auto;
    height: 85%;
    width: 450px;
    border: solid 2px #000;
}

.right-gauge-card{
    background-color: #E7AE41;
    height: 1000px;
    width: auto;
}