/* aq-main-contents */
.ec-main-contents{
    position: relative;
    display: flex;
    margin-top: 30px;
    height: 90%;
    width: 100%;
}

/* left-gauge-box design */
.gauge-box-one{
    position: relative;
    bottom: 2%;
    right: 0.5%;
    display: flex;
    flex-direction: column;
    margin-right: 1.5%;
    height: 90%;
    width: 12%;
    border: solid 0px #000;
}

.gauge-box-one-card{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: 90%;
    width: auto;
}

.chart-box-one{
    position: relative;
    bottom: 1%;
    right: 0.5%;
    display: flex;
    flex-direction: column;
    margin-left: 1.5%;
    margin-right: 20%;
    height: 100%;
    width: 45%;
    border: solid 1px #000;
}

.chart-box-one-card{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: 90%;
    width: auto;
}

.energy-consume-pie{
    position: absolute;
    bottom: 50px;
}

.energy-consume-bar{
    position: absolute;
}