/* aq-main-contents */
.aq-main-contents{
    display: flex;
    margin-top: 100px;
    margin-left: 20px;
    height: 100%;
}

.back-button{
    position: absolute;
    left: 30px;
    top: 65px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.1rem;
    width: max-content;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.back-button:hover{
    color: #E7AE41;
}

/* left-gauge-box design */
.left-gauge-box{
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    margin-right: 25px;
    height: 85.6%;
    width: 450px;
    border: solid 1px #000;
}

.left-gauge-card{
    z-index: 1;
    background-color: #fff;
    height: fit-content;
    width: auto;
}

/* chart-box design */
.chart-box{
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    margin-right: 25px;
    height: 714px;
    width: 900px;
    border: solid 1px #000;
    align-items: center;
}

.chart-card{
    background-color: transparent;
    height: fit-content;
    width: 95%;
}

/* right-gauge-box design */
.right-gauge-box-group{
    display: flex;
    flex-direction: column;
}

.right-gauge-box-top{
    overflow-y: auto;
    overflow-x: hidden;
    height: fit-content;
    width: 450px;
    margin-bottom: 10px;
    border: solid 1px #000;
}

.right-gauge-box-bottom{
    overflow-y: auto;
    overflow-x: hidden;
    height: fit-content;
    width: 450px;
    margin-bottom: 10px;
    border: solid 1px #000;
}

.right-gauge-box-summary{
    overflow: hidden;
    height: fit-content;
    width: 450px;
    border: solid 1px #000;
}


.right-gauge-card{
    background-color: #fff;
    height: 230px;
    width: auto;
}