@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
html{
    height: auto;
    width: auto;
    overflow: hidden;
}

.building-head-main {
    background-color: #C2C7D0;
    position: relative;
    text-align: center;
    align-items: center;
    margin: auto;
    font-family: 'Nunito', sans-serif;
}

/* CONTENT */
.card{
    position: fixed;
    bottom: 5px;
    box-shadow: 0 0 1px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    height: 90%;
    width: 1900px;
    background-color: #fff;
    border: 0 solid rgba(0,0,0,.125);
    align-items: center !important;
}

.navbar {
    z-index: 1037;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 5px solid #E7AE41;
    height: 65px;
    display: flex;
    color: #fff;
    background-color: #343A40;
    padding-right: 0.5rem;
    padding-left: 0;
    justify-content: flex-start;
}

/* ram health homepage button */
.ram-health-logo {
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%) scale(1);
    height: fit-content;
    width: 55px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.ram-health-title {
    position: relative;
    top: 10px;
    right: 910px;
    color: #E7AE41;
    font-weight: bolder;
    white-space: nowrap;
    font-size: 35px;
    user-select: none;
    cursor: pointer;
    transition: color 0.3s ease, font-size 0.3s ease;
}

.ram-health-title:hover {
    color: #fff;
    font-size: 36px;
}

.log-out {
    position: absolute;
    right: 185px;
    display: none;
}

.logout-button[type="submit"] {
    z-index: 3000;
    position: absolute;
    padding-top: 0;
    margin-top: 27px;
    margin-right: 100px;
    width: 150px;
    height: 40px;
    font-size: 1.2rem;
    text-align: center;
    border: 1px solid #343A40;
    color: #343A40;
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .175);
    line-height: 1;
    background: #fff;
    pointer-events: auto;
    transition: color 1s ease;
}

.logout-button[type="submit"]:hover{
    color: #E7AE41;
}

.log-out-symbol {
    z-index: 499;
    position: absolute;
    top: 13.5px;
    right: 25px;
    text-transform: uppercase;
    z-index: 2;
    margin-top: 1vh;
    margin-right: 0vh;
    font-size: 1.3rem;
    cursor: pointer;
}

.log-out-symbol:hover{
    color: #E7AE41;
}

/* interface navigation menu */
.card-header{
    z-index: 1996;
    position: relative;
    display: flex;
    top: 19.5px;
    width: 100%;
    border-bottom: 1px solid;
}

a {
    text-decoration: none;
    color: inherit;
}

.card-title{
    z-index: 2000;
    position: relative;
    left: 85px;
    margin-right: 200px;
    height: fit-content;
    width: fit-content;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

.card-title:hover{
    color: #E7AE41;
}

.card-title-second{
    z-index: 1998;
    position: relative;
    height: fit-content;
    width: fit-content;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

.card-title-second:hover{
    color: #E7AE41;
}