.aq-summary-group{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.2rem;
}
.summary-title{
    margin-top: 3px;
    margin-bottom: 5px;
    display: inline-flex;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
}
