@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

.content-parameter{
    opacity: 0;
}

.content-sensor{
    opacity: 0;
}


/* Table Buttons */
.table-button{
    position: relative;
    width: 100%;
    top: -5%;
} 

.download-table{
    position: relative;
    top: 100%;
    left: -39.7%;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.1rem;
    width:fit-content;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.download-table:active{
    color: #E7AE41;
}

.refresh-table{
    position: relative;
    top: 100%;
    left: 33%;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.1rem;
    width:fit-content;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.refresh-table:active{
    color: #E7AE41;
}

/* table pagination */

.pagination {
    position: absolute;
    margin-left: 0%;
    margin-bottom: 3%;
    bottom: 0;
    justify-content: flex-end;
    margin-top: 20px;
}
  
.pagination a {
    color: #000;
    text-decoration: none;
    padding: 5px 10px;
    margin-left: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
  
.pagination a:hover {
    background-color: #eee;
}
  
.pagination a.active {
    background-color: #007bff;
    color: #fff;
}

.pagination .disabled {
    color: gray;
    pointer-events: none;
}
  