/* table part */
.air-quality-sensors-table{
    position: relative;
    overflow: hidden;
    top: 120px;
    left: 10%;
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    height: fit-content;
    width: 1300px;
}

/* user status */

.status-form select {
    font-size: 1rem;
    background-color: transparent;
    border: none;
    border-radius: 5px;
}

/* add sensor popup */
.popup{
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 2%;
    background-color: #fff;
    border: 1px solid rgba(127,127,127);
    bottom: 30%;
    width: 20%;
    height: 460px;
    border-radius: 4px;
}

/* popup contents */
.add-title{
    position: relative;
    top: 2.5%;
    left: 2%;
    bottom: -2%;
    font-size: 1.5rem;
    font-weight: bold;
}

.close-btn{
    position: relative;
    left: 15%;
    top: 2%;
    cursor: pointer;
}

.popup-line{
    position: relative;
    top: 5%;
    background-color: #000;
    width: 100%;
    height: 0.2%;
}


/* input forms */
.user-input {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    align-items: center;
}
  
form label {
    position: relative;
    top: 10%;
    display: block;
    float: left;
    width: fit-content;
}

form input[type="number"],
form input[type="text"] {
    position: relative;
    display: block;
    width: 90%;
    top: 12%;
    right: 0%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.save-details[type="submit"] {
    position: relative;
    top: 12%;
    left: 33%;
    width: fit-content;
    align-items: center;
    background-color: #293a82;
    color: #fff;
    border: 1px solid #007BFF;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
  
form input[type="submit"]:hover {
    background-color: #3e8e41;
}
