/* table part */
.air-quality-parameters-table{
    overflow: hidden;
    position: relative;
    top: 150px;
    left: 0px;
    width: 1800px !important;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    height: fit-content;
}

.building-floor-dropdown{
    position: absolute;
    display: inline-block;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.1rem;
    top: 50px;
    left: 55px;
    width: max-content;
}

/* Table Buttons */
.table-button{
    position: inherit;
    width: 100%;
    top: 110px;
    left: 118px;
} 

.download-table{
    position: inherit;
    right: -43px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.1rem;
    width: max-content;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.download-table:active{
    color: #E7AE41;
}

.refresh-table{
    position: relative;
    top: 100%;
    left: 1500px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.1rem;
    width: max-content;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.refresh-table:active{
    color: #E7AE41;
}

.import-btn{
    position: relative;
    bottom: 25px;
    left: 1658px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.1rem;
    width: max-content;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.import-table:active{
    color: #E7AE41;
}