/* Table Buttons */
.table-button{
    z-index: 500;
    position: relative;
    top: 200px;
    width: 100%;
} 

.refresh-table{
    position: relative;
    top: 5%;
    bottom: 5%;
    left: 40.2%;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.1rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.refresh-table:active{
    color: #E7AE41;
}

/* interface navigation menu */
.card-header-indicator-second{
    z-index: 1997;
    position: absolute;
    top: -2.5px;
    left: 485px;
    height: 5px;
    width: 180px;
    opacity: 1;
    background-color: #E7AE41;
    border-radius: 10px;
}

/* table part */
.table-no-record{
    position: relative;
    top: 175px;
    font-size: 1.5rem;
}

th, td{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 1px solid #000;
    width: auto;
    padding: 15px;
    text-align: center;
}

th{
    background-color: #e0e3e7;
    cursor: default;
}

.header-sort{
    transition: color 0.2s ease-in-out !important;
}

.header-sort:hover{
    color: #E7AE41 !important;
}

/* Deleted User Table Styles */
.admin-deleted-user-table{
    overflow: hidden;
    border-collapse: collapse;
    position: relative;
    left: 100px;
    width: 1690px;
    margin-top: 151px;
    text-align: left;
}

/* table pagination */

.pagination {
    z-index: 540;
    position: relative;
    right: 20px;
    margin-top: 40px; 
}
  
.pagination a {
    color: #000;
    text-decoration: none;
    padding: 5px 10px;
    margin-left: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
  
.pagination a:hover {
    background-color: #eee;
}
  
.pagination a.active {
    background-color: #007bff;
    color: #fff;
}

.pagination-disabled {
    text-decoration: none;
    padding: 5px 10px;
    margin-left: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #eee;
    color: gray;
    pointer-events: none;
}