/* interface navigation menu */
.card-header{
    z-index: 1996;
    position: relative;
    top: 55px;
    left: 7px;
    height: 6%;
    width: 1901px;
    border-bottom: 1px solid;
}

/* interface navigation menu */
.card-title{
    z-index: 2000;
    position: relative;
    height: 500px;
    width: fit-content;
    right: 717px;
    top: 35px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    cursor: pointer;
}

.card-header-indicator{
    z-index: 1999;
    position: relative;
    top: 70px;
    left: 108px;
    height: 5px;
    width: 250px;
    opacity: 1;
    background-color: #E7AE41;
    border-radius: 10px;
}

.card-title-second{
    z-index: 1998;
    position: relative;
    width: fit-content;
    right: 399px;
    bottom: 1px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    cursor: pointer;
}

.card-header-indicator-second{
    z-index: 1997;
    position: relative;
    top: 33.5px;
    left: 459.5px;
    height: 5px;
    width: 180px;
    opacity: 0;
    background-color: #E7AE41;
    border-radius: 10px;
}

.content-one{
    opacity: 1;
    pointer-events: visible;
}

.content-two{
    opacity: 0;
    pointer-events: none;
}